<!DOCTYPE html>
<html>
<head>
    <title>Resultados Hackatón 2013 Córdoba</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="static/normalize.min.css" />
    <link rel="stylesheet" href="static/bootstrap.modal.min.css">
    <link rel="stylesheet" href="static/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="static/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro'>

    <link rel="stylesheet" href="static/estilo.css">
    <script src="static/jquery-1.10.2.min.js"></script>
    <script src="static/bootstrap.modal.min.js"></script>
    <script src="static/underscore-min.js"></script>
    <script src="static/leaflet-0.6.4/leaflet.js"></script>
</head>
<body>
    <div class="mobile-nav">
        <h4>Resultados Hackatón 2013 Córdoba</h4>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about-modal">
            ?
        </button>
    </div>
    <div id="text">
        <div>
          <h1>Resultados Hackatón 2013 Córdoba</h1>
            <div class="pubdate">Nov. 9, 2013</div>
        </div>
        <div>
            
<p>Resultados de las elecciones de diputados de Octubre en las escuelas a donde los ciudadanos de Córdoba votaron.</p>
<p>Cada círculo representa una escuela y el color representa al partido que obtuvo la mayoría de votos en esa escuela.</p>

           
        </div>
        <div style="clear:both;border-top: 1px dotted #ddd;width:100%;padding-bottom:2px;"></div>
        <h3 class="legend-hed">Overall results</h3>
        <div class="legend">
        </div>
        <div style="clear:both;"></div>
        <div class="about">
            
<p>Este mapa fue realizado en el marco del <a href="http://democraciaconcodigos.github.io/">1er Hackatón Sobre Datos Públicos de Córdoba: Democracia con Códigos</a>.
El código se encuentra disponible en <a href="https://github.com/democraciaconcodigos/election-2013">GitHub</a>.
</p>
<!--p>
    This is the test map taken from <a href="http://blogs.lanacion.com.ar/datafest/">Datafest 2013</a>.
    The source is <a href="http://palermo-hollywood.github.io/election-2013/">available on GitHub</a>.
</p-->

        </div>
        <div>
            <a href="http://democraciaconcodigos.github.io/">
                <img src="static/logo.png">
            </a>
        </div>
    </div>
    <div id="map"></div>


    <script  id='template-popup' type="text/template">
        <div class="popup">
    <div class="establecim"><%= titleCase(obj.establecim) %></div>
    <div class="direccion"><%= titleCase(obj.direccion) %></div>
    <div class="results">
        <table>
            <thead>
                <th>Party</th>
                <th class="right">Votos</th>
                <th class="right">Pctg.</th>
            </thead>
            <tbody>
            <% for(var list in obj.votos) { %>
               <tr>
               <td>
                <%= getName(listNames, list) %> <% if (getLeader(obj)[0] == list ) { %>✔<% } %>
               </td>
                <td class="right"><%= addCommas(obj.votos[list]) %></td>
                <td class="right"><%= getPercentage(obj.votos[list], obj['overall_total']) %>%</td>
               </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
    </script>
    <script type="text/javascript">
    var initialLat = -31.94284
    var initialLon = -63.599854
    var geoJsonUrl = "static/test.geojson"
    var listNames = {
         '003': ['UCR','#ff0000'],
         '047':['CCV','#0b4c5f'],
         '191':['VINDEP','#ff00ff'],
         '217':['EVC','#fe9a2e'],
         '501': ["FPV", '#3ea1d2'],
         '503': ["Union PRO", '#ebe126'],
         '504': ['AUC','#ffbf00'],
         '505': ['FIT', '#ab181f'],
         '512':['UPC','#04b486'],
         '514':['FPCyS','#08298a'],
         '9003':['Impugnados','#b18904'],
         '9004':['Blancos','#ffffff'],
         '9005':['Nulos','#a4a4a4'],
         '9006':['Recurridos','#31b404']
    }
    </script>
    <script type="text/javascript" src="static/script.js">
    </script>
</body>
</html>