<!DOCTYPE html>
<html>
<head>
    <title>{{ headline }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.modal.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet-0.6.4/leaflet.css') }}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ url_for('static', filename='leaflet-0.6.4/leaflet.ie.css') }}" />
    <![endif]-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro'>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.modal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-0.6.4/leaflet.js') }}"></script>
</head>
<body>
    <div class="mobile-nav">
        <h4>{{ headline }}</h4>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about-modal">
            ?
        </button>
    </div>
    <div id="text">
        <div>
            <h1>{{ headline }}</h1>
            <div class="pubdate">{{ pubdate }}</div>
        </div>
        <div>
            {{ description|safe }}
        </div>
        <div style="clear:both;border-top: 1px dotted #ddd;width:100%;padding-bottom:2px;"></div>
        <h3 class="legend-hed">Overall results</h3>
        <div class="legend">
            <div class="party">
                <div class="name pro">1. Pro</div>
                <div class="percent">&nbsp;&nbsp;34.5%</div>
                <div class="votes">623,117 votes</div>
            </div>
            <div class="party">
                <div class="name unen">2. UNEN</div>
                <div class="percent">&nbsp;&nbsp;32.2%</div>
                <div class="votes">582,828 votes</div>
            </div>
            <div class="party">
                <div class="name fvp">3. FvP</div>
                <div class="percent">&nbsp;&nbsp;21.6%</div>
                <div class="votes">390,506 votes</div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="about">
            {{ about|safe }}
        </div>
        <div>
            <a href="http://democraciaconcodigos.github.io/">
                <img src="{{ url_for('static', filename='logo.png') }}">
            </a>
        </div>
    </div>
    <div id="map"></div>

    <div class="modal" id="about-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4>{{ headline }}</h4>
		        
			
                </div>
                <div class="modal-body">
                    {{ description|safe }}
                    <div style="clear:both;border-top: 1px dotted #ddd;width:100%;padding-bottom:2px;"></div>
                    <h3 class="legend-hed">Overall results</h3>
                    <div class="legend">
                        <div class="party">
                            <div class="name pro">1. Pro</div>
                            <div class="percent">&nbsp;&nbsp;34.5%</div>
                            <div class="votes">623,117 votes</div>
                        </div>
                        <div class="party">
                            <div class="name unen">2. UNEN</div>
                            <div class="percent">&nbsp;&nbsp;32.2%</div>
                            <div class="votes">582,828 votes</div>
                        </div>
                        <div class="party">
                            <div class="name fvp">3. FvP</div>
                            <div class="percent">&nbsp;&nbsp;21.6%</div>
                            <div class="votes">390,506 votes</div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="about">
                        {{ about|safe }}
                    </div>
		    <div id="desarrolloOrigen" > 
			titulo
		    </div>
                </div>
                <div>
                    <a href="http://blogs.lanacion.com.ar/datafest/">
                        <img style="padding: 5px 25px 20px 25px; width:100%" src="{{ url_for('static', filename='datafest_header.jpg') }}">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script  id='template-popup' type="text/template">
        {% include "popup.jst" %}
    </script>
    <script type="text/javascript">
    var initialLat = {{initial_lat}}
    var initialLon = {{initial_lon}}
    var geoJsonUrl = "{{ url_for('static', filename='results.geojson') }}"
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}">
    </script>
</body>
</html>
