<!DOCTYPE html>
<html>
<head>
    <title>{{ headline }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.modal.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet-0.6.4/leaflet.css') }}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ url_for('static', filename='leaflet-0.6.4/leaflet.ie.css') }}" />
    <![endif]-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro'>

    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.modal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-0.6.4/leaflet.js') }}"></script>
</head>
<body>
    <div class="mobile-nav">
        <h4>{{ headline }}</h4>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about-modal">
            ?
        </button>
    </div>
    <div id="text">
        <div>
            <h1>{{ headline }}</h1>
            <div class="pubdate">{{ pubdate }}</div>
        </div>
        <div>
            {{ description|safe }}
        </div>
        <div style="clear:both;border-top: 1px dotted #ddd;width:100%;padding-bottom:2px;"></div>
        <h3 class="legend-hed">Overall results</h3>
        <div class="legend">
        </div>
        <div style="clear:both;"></div>
        <div class="about">
            {{ about|safe }}
        </div>
        <div>
            <a href="http://democraciaconcodigos.github.io/">
                <img src="{{ url_for('static', filename='logo.png') }}">
            </a>
        </div>
    </div>
    <div id="map"></div>


    <script  id='template-popup' type="text/template">
        {% include "popup.jst" %}
    </script>
    <script type="text/javascript">
    var initialLat = {{initial_lat}}
    var initialLon = {{initial_lon}}
    var geoJsonUrl = "{{ url_for('static', filename='test.geojson') }}"
    var listNames = {
         '003': ['UCR','#ff0000'],
         '47':['CCV','#0b4c5f'],
         '191':['VINDEP','#ff00ff'],
         '217':['EVC','#fe9a2e'],
         '501': ["FPV", '#3ea1d2'],
         '503': ["Union PRO", '#ffff00'],
         '504': ['AUC','#ffbf00'],
         '505': ['FIT', '#ab181f'],
         '512':['UPC','#04b486'],
         '514':['FPCyS','#08298a'],
         '9003':['Impugnados','#b18904'],
         '9004':['Blancos','#ffffff'],
         '9005':['Nulos','#a4a4a4'],
         '9006':['Recurridos','#31b404']
    }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}">
    </script>
</body>
</html>
